/* You can add global styles to this file, and also import other style files */


body {
	color: #fff;
}
body.black-background-color {
	background-color: #000;
}

body.grey-background-color {
	background-color: #141414;
}